<mat-card>

  <mat-card-header>
    <mat-card-title><h2>Questionnaire:</h2> <span *ngIf="!loading">{{_questionnaire?.title}}</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>

  <mat-card-content *ngIf="!loading">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Patient ssn" [(ngModel)]="subject" (change)="patientChanged()"/>
    </mat-form-field>
  </mat-card-content>

  <ng-container *ngIf="!loading">
    <app-item *ngFor="let item of _questionnaire?.item" [item]="item" [answers]="answers" (answerChange)="updateAnswer($event)"></app-item>
  </ng-container>
</mat-card>
