<mat-card-content>
  <fhir-boolean *ngIf="isType(item.type, questionnaireItemTypeEnum.Boolean)" [item]="item" [answer]="answers.get(item?.linkId + '')" (answerChange)="answerChange.emit($event)"></fhir-boolean>
  <fhir-string *ngIf="isType(item.type, questionnaireItemTypeEnum.String)" [item]="item" [answer]="answers.get(item?.linkId + '')" (answerChange)="answerChange.emit($event)"></fhir-string>
  <fhir-string *ngIf="isType(item.type, questionnaireItemTypeEnum.Text)" [item]="item" [answer]="answers.get(item?.linkId + '')" (answerChange)="answerChange.emit($event)"></fhir-string>
  <fhir-integer *ngIf="isType(item.type, questionnaireItemTypeEnum.Integer)" [item]="item" [answer]="answers.get(item?.linkId + '')" (answerChange)="answerChange.emit($event)"></fhir-integer>

  <app-item *ngFor="let item of item.item" [item]="item" [answers]="answers" (answerChange)="answerChange.emit($event)"></app-item>
</mat-card-content>
