#content {
/*  background-color: white; */
  height: 85%;
  padding: 100px 20px;
  margin: 0 20px 20px 20px;
  z-index: 1;
}

/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}*/
