<div id="content">

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput [(ngModel)]="authToken" placeholder="Auth token"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="qUri" placeholder="URI to questionnaire"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="loadForm(this.qUri)">Load form</button>
    </mat-card-actions>
  </mat-card>

  <app-questionnaire-response [loading]="loading" [questionnaire]="questionnaire"></app-questionnaire-response>

  <mat-card>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Debug output" readonly mat-autosize [value]="payload"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="showData()">Debug</button>
    </mat-card-actions>
  </mat-card>

  <router-outlet></router-outlet>
</div>
