/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #673ab7;
}

#header {
  height: 100px;
  width: 100%;
  background-image: url("/assets/bg.jpeg");
  background-position-y: -200px;
  background-repeat: repeat-x;
  position: fixed;
  top: 0;
  z-index: 1000;
}

mat-card {
  margin:2em;
}

mat-form-field {
  width: 100%;
}
